
body{
    margin: 0;
    background: rgb(228,186,154);
    background: radial-gradient(circle, rgba(228,186,154,1) 23%, rgba(246,113,11,1) 42%, rgba(252,144,0,1) 67%, rgba(240,80,0,1) 84%);
} 

.titulo {
    color: black;
    text-align: center;
    margin:20px 0px;
    
}

.logo{
    width: 60px;
    height: 60px;
    
}

.navbar-nav li:hover{
    background-color: brown;

}


.navbar-brand{
    margin-left: 50px;
    margin-top: 8px;
    
}

.navbar-brand a{
    text-decoration: none;
    color: #fff;
}
.informacion{
    margin-top: 100px;
}

.menuDiario{
margin-right: 40px;
margin: 40px;
}

.tituloTabla{
    margin-top: 100px;
    font-size: 3em;
    text-align: center;
}
.table{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}



.demostracion{
    margin-bottom: 60px;
}

.bg-dark{
margin-top: 50px;
}




.lista{
    background-color: rgba(0, 0, 0, 0.425) !important;
    color: #fff;
    width: 100%;
}

.subtituloNosotros{
    margin-top: 200px;
}

.texto{
margin-top: 20px;
margin-bottom: 100px;    
}

.subtitulo{
    margin-top: 150px;
}


.bg-dark ul li a{
    text-decoration: none;
    color: #fff;
}


/* ACA EMPIEZAN LOS MEDIASQUERI */

    @media screen and (min-width:781px) and (max-width: 1359px){
        .titulo {
            height: 20px;
            font-size:1em ;
            text-align: center;
            margin: 50px;
            
        }
            .menuDiario:hover{
            transform: scale(1.2);
            
        }
            .menuDiario2:hover{
                transform: scale(1.2);
                
            }
                
            .video{
                max-width: 100%;
                padding: auto;
                margin:auto;
                display: grid;
            }    
            
            
        .contenedorFooter {
            text-align:center;
            display: block;
            
            
            }
            
        .mapsCenter{
            max-width: 100%;
            height: 60px;
            margin:0px 0px 40px 0px;
            }
            

        .contenedorFooter li{
            padding-inline-end:10px; 
            margin: 20px 0px 0px 0px;
            padding: 60px 0px 0px 0px;
            font-size: 20px;
        }
    }
    @media screen and (min-width :480px) and (max-width: 780px){
        .titulo {
            height: 20px;
            font-size:1em ;
            text-align: center;
            
        }
        
            
            .navbar-brand a{
            visibility: hidden;
        }
            .logo{
                width:60px ;
                height: 60px;
                margin-left: 69px;
            }    

            .navbar-toggler{
                width: 100px;
            }
    
                
            
            .contenedorImg{
                flex-wrap: wrap;
                align-items: center;
            }

            
            /* .menuDiario{
                height: 250px;
                width: 310px;  
                margin: 10px;
                
            }    

            .menuDiario2{
                height: 250px;
                margin: 10px ;
                width: 310px;
                   */
            }
            .menuDiario:hover{
                transform: scale(1.2);
                
            }
            .menuDiario2:hover{
                transform: scale(1.2);
                
            }


            .ejemplo{
                
                width: 100%;
                display: flex;
                margin: auto;
                
            }
            .video{
                width: 500px;
                height: 180px;
                padding: auto;
                margin:auto;
            }    
            
            
        .contenedorFooter {
            text-align:center;
            display: block;
            
            }
            
        .mapsCenter{
            max-width: 100%;
            height: 60px;
            margin:0px 0px 40px 0px;
            }
            

        .contenedorFooter li{
            padding-inline-end:10px; 
            margin: 20px 0px 0px 0px;
            padding: 60px 0px 0px 0px;
        }
        

        
            
            
        




    @media screen and (max-width :480px) { 
        .titulo {
            height: 40px;
            font-size:1em ;
            text-align: center;
            
        }
        
        .navbar-brand a{
            visibility: hidden;
        }


        .logo{
            width: 60px ;
            height: 60px;
            
            margin-left: 20px;
        }    


        .navbar-toggler{
            margin-left: 150px;
        margin-top: -60px;
            padding: 0 auto;
            width:100px;
        }



        
        
        
        
            
            .contenedorImg{
                flex-wrap: wrap;
                align-items: center;
            }
            .menuDiario{
                height: 125px;
                width: 160px;  
                margin: 20px auto;
                
            }    

            .menuDiario2{
                height: 125px;
                margin: 10px auto;
                width: 160px;   
            }
        
    
                
            
            .ejemplo{
                height: 200px;
                width: 100%;
                display: flex;
                margin: auto;
            }
                
            .video{
                width: 240px;
                height: 140px;
                padding: auto;
                margin:auto;
                
                
                
            }    
            
            
        .contenedorFooter {
            text-align:center;
            display: block;
            max-width: 100%;
            
            
            }
            
        .mapsCenter{
            max-width: 100%;
            height: 60px;
            margin:0px 0px 40px 0px;
            }
            

        .contenedorFooter li{
            padding-inline-end:10px; 
            margin: 20px 0px 0px 0px;
            padding: 60px 0px 0px 0px;
            font-size: 10px;
        }


        .fondoImg {
            display: flex;
            display: block;
            

        }

        .subtituloNosotros{
            font-size: 15px;
            margin-left: 0%;
        }


        .texto{
            font-size: 8px;
        }


        
    }