body {
    margin: 0;
    padding: 0;
    background-color: $color-body;
    color: #fff;
    text-align: justify;
    position: relative;
    font-size: 20px;
    padding-bottom: 300px;
    min-height: 100vh;

    p::selection {
        background-color: brown;
        color: #fff;
    }

    p::first-letter {
        font-size: 30px;
    }

    .informacion {
        margin-top: 50px;
    }
    
    .tituloEncabezado{
        text-align: center ;
        padding-bottom: 20px;
        
    }

    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
    }
    .float:hover {
        text-decoration: none;
        color: #25d366;
        background-color:#fff;
    }
    
    .my-float{
        margin-top:16px;
    }
    .menuDiario {
        padding: 20px;
        height: 356px;
        transition: 0.5s ease-out;
    }

    .menuDiario2 {
        @extend .menuDiario;
    }

    .menuDiario:hover {
        transform: scale(1.08);
        cursor: pointer;
    }
    
    .table{
        font-size: 20px;
    }
    
    .carousel-item{
        max-height: 600px;
        background-size: 100% 100%;
        }
    
    
    .tituloEncabezado{
        margin-bottom: 40px;
    }

    .subtitulo{
        margin-top: 50px;
    }

    .textoContacto{
        margin-bottom: 50px;
    }

    .subtituloNosotros{
        margin-top: 40px;
    }

    .ejemplo{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        
    }
    .video {
        width: 75%;
        margin: 0 auto;
        padding: 20px 0px;
    }
    


    .bg-dark {
        
        position: absolute;
        bottom: 0px;
    }

    .footerMaps {
        display: flex;
        justify-content: space-evenly;
        list-style-type:none;
        $mapsFooter: (
            instagram:rgba(242, 236, 247, 0.918),
            contacto:rgba(242, 236, 247, 0.918),
            ubicacion:rgba(242, 236, 247, 0.918) ,
        ) ;

        .lista-insta a{
            text-decoration: none;
            color: rgba(242, 236, 247, 0.918);
        }

        

        @each $i, $color in $mapsFooter {
            .#{$i} {
                color: $color;
            }
        }
    }
    
    @mixin listaFooter {text-decoration: none; color:#fff; background-color: $color-footer;
        
    }
    .list-group-item {
    @include listaFooter;
    }


    @media (min-width :400px)  {
        display: block;
    }
}
