header {
    margin-top: 100px;
    nav {
        a {
            &:hover {
                color: rgb(241, 99, 4);
            }
        }
        div {
            span {
                margin-left: 50px;
                margin-top: 8px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }

            .logo {
                width: 40px;
                height: 40px;
                margin-top: 5px;
            }
        }
    

    
        ul {
            li {
                a {
                    &:hover {
                        color: rgb(241, 99, 4) !important;
                        
                    }
                    &:active {
                        color: rgba(18, 111, 233, 0.918) !important;
                    }
                }
            }
        }
    }
}
